p {
    font-family: Arial;;
    margin: 0;
    color: rgb(100, 100, 100);
}

.email {
    font-size: 16px;
    margin-bottom: 10px;
}

input {
    width: 400px;
    font-size: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    font-size: 20px;
    color: white;
    background-color: rgb(10, 102, 194);
    border: none;
    border-radius: 30px;
    width: 400px;
    padding: 16px 0;
    cursor: pointer;
}